@import url('hardreset.css');

:root {
    --main-yellow-color: #FFC83D;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

body {
    font-size: 16px;
    background-color: #A5A4CE;
    width: 90%;
    margin: 10px auto;
    font-family: var(--font-D2Coding);
    font-weight: 400;
}

button {
    outline: none;
    border: none;
}

h1, h2 {
    font-family: var(--font-D2Coding);;
    font-weight: 700;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.3em;
}

ul {
    list-style-type: none;
}